<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <style>
            .table-wrapper {
                margin-top: 50px;
            }
        
            .player-img {
                width: 40px;
                height: 40px;
            }
        
            .add-player-form {
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1" ><a href="/">Soccer Players</a></span>
                <a class="float-right" href="/add" title="Add a New Player">Add a Player</a>
            </nav>